<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<%- if @user.status == 'new' %>
  <p>
    <%= link_to 'Make a payment', paid_user_path, method: :put %>
  </p>
<%- end %>


<%- if @user.status != 'cancelled' %>
  <p>
    <%= link_to 'Cancel a payment', cancelled_user_path, method: :put %>
  </p>
<%- end %>
